body {
	background-color: white;
	font-family: arial;
}

ul {
	list-style-type: none;
	margin-top: 0px;
}

h1 {
	background-color: white;
	font-family: georgia;
}

.portrait {
    float: left;
    margin-right: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

a:link {
	color: darkorchid;

}

a:visited {
 	color: plum;
}

a:hover { 
	text-decoration: none;
}

img {
	border: none;
}

#navbar {
	height: auto;
	color: black;
	background-color: white;
	background-repeat: no-repeat;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 40px;
	margin-right: 10px;
	text-align: right;
	font-size: 120%;
}

#navbar a:link {
	color: gray;
	text-decoration: none;
	font-weight: bold;
}

#navbar a:visited {
	color: gray;
	text-decoration: none;
	font-weight: bold;
}

#anav {

}

#anav a:link {
    font-size: 120%;
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

#anav a:visited {
    font-size: 120%;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 0 0;
}


#head {
	background-color: white;
	color: purple;
	clear: left;
	height: 64px;
	margin-top: 50px;
	margin-left: 220px;
	margin-right: 150px;
	margin-bottom: 50px;
	width: 600px;
	font-weight: strong;
	font-size: 1.4em;
}

#main {
	background-color: white;
	background-position: right bottom;
	background-repeat: no-repeat;
	height: auto;
	width: 600px;
	margin-left: 220px;
	margin-right: 30px;
	padding-bottom: 60px;
}

#foot {	
	background-color: white;
	clear: left;
	color: grey;
	height: 32px;
	margin-left: 220px;
	margin-right: 30px;
	width: 600px;
	text-align: right;
}

.portfolioProject{
	margin-top: 70px;
}




